---
import Layout from '../layouts/Layout.astro'
import Badge from '../components/Badge.astro'
import LinkedInIcon from '../components/icons/LinkedInIcon.astro'
import GitHubIcon from '../components/icons/GitHubIcon.astro'
import MailIcon from '../components/icons/MailIcon.astro'
import ExperienceIcon from '../components/icons/ExperienceIcon.astro'
import ProjectsIcon from '../components/icons/ProjectsIcon.astro'
import ContactIcon from '../components/icons/ContactIcon.astro'
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Projects from '../components/Projects.astro'
import Contact from '../components/Contact.jsx'
//import MyFormComponent from '../components/MyFormComponent.jsx'

---

<Layout title="Portfolio de Lucas Antonio Maggio - Desarrollador Web" description='Contrata Lucas Antonio Maggio para crear tu pagina web.'>
	<main class="px-4">
		<SectionContainer class="pt-12 md:pt-44 pb-32">
			<h1 class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">Lucas Antonio Maggio <a href="https://www.linkedin.com/in/lam2023/" target="_blank" rel="noopener"><div class="flex justify-center items-center"><Badge>Disponible</Badge></a></div></h1>
			<h2 class="text-white text-xl lg:text-2xl text-wrap max-w-[700px]"><span>+3 años de experiencia.</span> <span class="opacity-80">Desarrollador Web.</span> <span class="text-cyan-600">Palma de Mallorca</span> <span class="opacity-80">Especializado en Backend.</span></h2>
			
			<ul class="mt-4 flex gap-4 flex-wrap">
				<li>
					<a href="https://www.linkedin.com/in/lam2023/" class="hover:scale-110 hover:bg-white/10 transition rounded-full border border-white/10 py-1 px-2 lg:py-2 lg:px-4 flex justify-center items-center gap-x-2 text-xs lg:text-base">
						<LinkedInIcon class="w-4 h-4 lg:w-6 lg:h-6" />
					LinkedIn
					</a>
				</li>
				<li>
					<a href="https://github.com/lukmagg" class="hover:scale-110 hover:bg-white/10 transition rounded-full border border-white/10 py-1 px-2 lg:py-2 lg:px-4 flex justify-center items-center gap-x-2 text-xs lg:text-base">
						<GitHubIcon class="w-4 h-4 lg:w-6 lg:h-6" />
					GitHub
					</a>
				</li>
				<li>
					<a href="mailto:lucmagg2020@gmail.com" class="hover:scale-110 hover:bg-white/10 transition rounded-full border border-white/10 py-1 px-2 lg:py-2 lg:px-4 flex justify-center items-center gap-x-2 text-xs lg:text-base">
						<MailIcon class="w-4 h-4 lg:w-6 lg:h-6" />
					lucmagg2020@gmail.com
					</a>
				</li>
			</ul>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-white text-2xl font-semibold mb-4 gap-x-2 flex items-center">
				<ExperienceIcon class="w-6 h-6"/>
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="text-white text-2xl font-semibold mb-8 gap-x-2 flex items-center">
				<ProjectsIcon class="w-6 h-6"/>
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		{
		false && (
			<SectionContainer id="contact">
				<h2 class="text-white text-2xl font-semibold mb-2 gap-x-2 flex items-center">
					<ContactIcon class="w-6 h-6"/>
					Contacto
				</h2>
				<Contact client:load />
			</SectionContainer>
		)
		}
		
	</main>
</Layout>

