---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: "Marzo 2021 / Actualmente...",
        title: "Thurm Capital (Mallorca)",
    description: "Trabajo como Programador web. Algunos proyectos en Javascript y otros PHP. Para los proyectos hechos en PHP utilizamos el framework Codeigniter y base de datos en MySql. Para los proyectos hechos en Javascript utilizamos para el backend Nest js con base de datos en Mongo (GraphQL) y para el frontend Vue 3 en Quasar. ",
        link:"https://thurm-concept.com/"
    },
    {
        date: "Febrero 2015 / 2020",
        title: "Mutual AMPF",
        description: "Tecnico informatico y administrador de redes Windows.",
        link:"#"
    },
    {
        date: "Marzo 2012 / 2015",
        title: "Fotiar Ushuaia",
        description: "Empresa dedicada a la fotografia en centro invernal. Mi trabajo era administrar las redes (Linux) para la disponibilidad de las fotografias hechas en las pistas desde el lado del cliente.",
        link:"https://www.instagram.com/fotiar/"
    },
    {
        date: "Marzo 2010 y 2012",
        title: "TDF",
        description: "Tarjeta de credito ubicada en Ushuaia, Tierra del fuego. Hice practicas en distintas sucursales como administrador de redes Linux (Slackware)",
        link:"https://www.instagram.com/tarjetatdf/?hl=es"
    },

]
---



<ol class="relative border-s border-gray-200 dark:border-gray-700">   
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }               
</ol>

