---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: "Marzo 2021",
        title: "Thurm Capital",
    description: "Programacion web en Javascript y PHP. Uso de frameworks Vue js, Nest js, Codeigniter y Quasar",
        link:"#"
    },
    {
        date: "date",
        title: "title",
        description: "description",
        link:"#"
    },
    {
        date: "date",
        title: "title",
        description: "description",
        link:"#"
    }
]
---



<ol class="relative border-s border-gray-200 dark:border-gray-700">   
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }               
</ol>

